<div class="container">
  <mat-toolbar color="primary">User List</mat-toolbar>

  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>

  <div class="grid" *ngIf="!isLoading">
    <mat-card class="user-card" *ngFor="let user of users; let i = index">
      <img class="user-image" mat-card-image [ngSrc]="user.picture.thumbnail" alt="User photo" fill/>
      <mat-card-header class="card-header-centered">
        <mat-card-title class="title">
            {{user.name.title}} {{user.name.first}} {{user.name.last}}
        </mat-card-title>
        <mat-card-subtitle>{{ user.gender | titlecase }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Location: {{user.location.city}}, {{user.location.country}}</p>
        <p>Email: {{user.email}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="viewWeather(user)">View Weather</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
