<div>
  <h1 class="header">Users List</h1>
  @if(isLoading) {
    <app-spinner/>
  } @else if(users.length) {
    <div class="grid">
    @for (user of users; track user.email){
      <mat-card class="user-card">
        <div class="image-wrapper">
          <img class="user-image" [src]="user.picture.large" alt="User photo" />
        </div>
        <mat-card-header class="card-header-centered">
          <mat-card-title class="title">
            {{user.name.title}} {{user.name.first}} {{user.name.last}}
          </mat-card-title>
          <mat-card-subtitle>{{ user.gender | titlecase }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
          <p class="info">Location: {{user.location.city}}, {{user.location.country}}</p>
          <p class="info">Email: {{user.email}}</p>
        </mat-card-content>
        <mat-card-actions class="details-button-container">
          <button class="details-button" mat-raised-button color="accent" (click)="viewWeather(user)">View Weather</button>
        </mat-card-actions>
      </mat-card>
    }
    </div>
  }
  @else {
    <div class="no-data">
      <h1>Users not found</h1>
    </div>
  }
</div>

