<div *ngIf="isLoading" class="spinner-container">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<mat-card *ngIf="!isLoading && weatherData" class="weather-card">
  <mat-toolbar color="primary">Weather for {{ name }}</mat-toolbar>
  <mat-card-title class="title-and-icon">
      <mat-icon>{{ getIcon(weatherData.current_weather.weathercode) }}</mat-icon>
      {{ getLabel(weatherData.current_weather.weathercode) }}
  </mat-card-title>
  <mat-card-content>
    <p>Current temperature: {{ weatherData.current_weather.temperature }}°C</p>
    <p>Min today: {{ weatherData.daily.temperature_2m_min[0] }}°C</p>
    <p>Max today: {{ weatherData.daily.temperature_2m_max[0] }}°C</p>
  </mat-card-content>
</mat-card>
